body {
    width: 95vw;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}


nav {
    background-color: #18e7f6;
    margin: 0;
    padding: 0px;
    bottom: 0px;
    position: fixed;
    width: 100vw;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

i {
    text-align: center;
    width: 120px;
}

i {
    color: white;
    margin-top: 10px;
}

.container-1 { 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    
 
}

.container-1 > h1 {

    color: #444;
    font-weight: 350;
    font-size: 26px;
   margin-top: 5px;
}

.container-1 > p  { 

    font-size: 14px;    
    font-weight: 250;
    font-style: italic;
    color: #777;
    text-align: center;
    width: 80vw;
}
#perfil { 

    background-color: black;    
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 50px;
}

.dados {

    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    backgrond-color:aquamarine;
    padding: 10px;
    box-shadow: rgba(0,0,0,0.1) 2px 2px  8px 2px;
}
.dados:hover {

    margin-top: 5px;
  transition:1s;
  background-color: #333;
    color: white;
}
    .dados > p {

        font-size: 14px;
        font-weight: 500;
        font-style: bold;
        color: #444;
    }

    .dados > p > span {
        font-size: 14px;
        font-weight: 300;
        color: #777;
    }