body {
    width: 95vw;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


nav {
    background-color: #18e7f6;
    margin: 0;
    padding: 0px;
    bottom: 0px;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    padding-top: 0px;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

i {
    text-align: center;
    width: 120px;
}

i {
    color: white;
    margin-top: 10px;
}


.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-flow: column;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 70px;
}

.container-1 > legend {
    text-align: center;
    font-weight: 550;

}

#form1 { 
    margin-top: 13px;
    background-color: #ffd800!important;
    color: white;
    font-family: Roboto;
   text-transform: uppercase;
   font-size: 12px;
   border: none;
  
}
#form2 {
    margin-top: 13px;
    background-color: #18e7f6 !important;
    color: white;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
}
h1 {

     font-weight: 250;
     font-family: Roboto;
 }

.bootstrap-iso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    width: 78vw;
    font-family: Roboto;
    font-weight: 500;
   
}